/* -----------------------------  */
/* REUSABLE COMPONENTS */
/* -----------------------------  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

html {
  background-color: #fff;
  font-family: 'Roboto Slab', serif;
  font-size: 20px;  
  text-rendering: optimizeLegibility;
}

section {
  padding-top: 80px;
  padding-bottom: 80px;
}

.row {
  max-width: 1140px;
  margin: 0 auto;
}

.clearfix {zoom: 1;}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

a {
  color: #000;
  text-decoration: none;
}

h1,
h2,
h3 {
    font-weight: 300;    
}

h1 {
    margin-top: 0;    
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
    font-weight: 100;
}

.icon {
  display: inline-block;
  /*padding-top: 50%;*/
  padding-left: 95px;
  padding-top: 20%;
}

.icon-big {
    font-size: 325%;   
}

/* -----------------------------  */
/* NAV */
/* -----------------------------  */
header {
  height: 100vh;
  color: #fff 
}

nav ul {  
  text-align: center;
  list-style: none; 
  padding: 20px 0;
  
}

nav li {
  display: inline-block;
  padding: 0 50px 8px;    
}

nav a {
 border-bottom: solid 2px transparent;
 transition: border-bottom .5s ease-in; 
 color: #fff
}

nav a:hover {
  border-bottom: solid 2px;  
}

.cb-slideshow,
.cb-slideshow:after { 
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0px;
    left: 0px;
    z-index: 0; 
}

.cb-slideshow:after { 
    content: '';
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4))
}

.cb-slideshow li span { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    /*background: no-repeat;*/
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 30s linear infinite 0s; 
}

.cb-slideshow li:nth-child(1) span { 
    background-image: url(../images/sf-site-1.jpg);
}
.cb-slideshow li:nth-child(2) span { 
    background-image: url(../images/sf-site-2.png);
    animation-delay: 6s; 
}
.cb-slideshow li:nth-child(3) span { 
    background-image: url(../images/sf-site-3.png);
    animation-delay: 12s; 
}
.cb-slideshow li:nth-child(4) span { 
    background-image: url(../images/sf-site-4.jpg);
    animation-delay: 18s; 
}
.cb-slideshow li:nth-child(5) span { 
    background-image: url(../images/sf-site-5.png);
    animation-delay: 24s; 
}


@keyframes imageAnimation { 
    0% { opacity: 0; animation-timing-function: ease-in; }
    8% { opacity: 1; animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

.no-cssanimations .cb-slideshow li span{
	opacity: 1;
}

/*.mySlides {
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
}*/




/*background-size: cover;
    background-position: center;
    height: 100vh;
    
/* -----------------------------  */
/* HEADER */
/* -----------------------------  */
.hero-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 200%;
}

.hero-box-text {  
  font-size: 70%;
  /*background-color: red;*/
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: 2px;
  word-spacing: 5px;
  /*display: inline-block;*/
}

/* -----------------------------  */
/* ABOUT */
/* -----------------------------  */

.about {
  position: relative;  
  text-align: justify;
  height: 80vh;
}

.bio {
  
  /*font-size: 200%;*/
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.about h2 {
  text-align: center;
  font-size: 300%;
  padding-bottom: 5%;
}

.about p {
  line-height: 1.5;
  font-size: 90%;
}

/* -----------------------------  */
/* PORTFOLIO */
/* -----------------------------  */
.portfolio {
  padding: 0 1.5%;
}

.portfolio h2 {
  text-align: center;
  font-size: 300%;
  padding-bottom: 5%;
}

.portfolio h3 {
  padding-bottom: 15px;
}

.portfolio p {
  line-height: 1.25;
  width: 90%;
  padding-bottom: 5%;
  text-align: justify;
  font-size: 90%;
}


.portfolio img {
  padding-top: 10%;
  padding-left: 5px;
  padding-right: 5px;
  width: 100%;    
}



.caption {
  width: 100%;
}

/* -----------------------------  */
/* CONTACT */
/* -----------------------------  */
.email {
  text-align: center;
  font-weight: bold;
}


.email span {
  padding: 5px 30px;
  display: block;
}
.contact h2 {
  text-align: center;
  font-size: 300%;
  padding-bottom: 5%;
}


.back {
  text-align: center;
  padding-bottom: 5%;
}

.back a {
  border-bottom: solid 2px transparent;
  transition: border-bottom .5s ease-in;
}

.back a:hover {
  border-bottom: solid 2px;  
}

/* -----------------------------  */
/* MEDIA QUERIES */
/* -----------------------------  */
@media only screen and (max-width: 990px) {
  .hero-box h1 {
    font-size: 200%;
  }
  
  .hero-box-text {
    font-size: 60%;
  }
  
}


@media only screen and (max-width: 925px) {
   .row {
     padding: 0 10px;
   }

   .hero-box h1 {
    /*font-size: 200%;*/
   }

   .icons {
     margin: 0;
   }

   .hero-box-text {
    font-size: 60%;
  }

}

@media only screen and (max-width: 901px) {
  .icons {
    display: none;
  }

  .bio {
    width: 95%;
  }

  .hero-box-text {
    font-size: 50%;
  }
}

@media only screen and (max-width: 808px) {
    .hero-box h1 {
      font-size: 175%;
    }

    .hero-box-text {
      font-size: 50%;
      /*font-weight: 100;*/
    }
    
}


/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 740px) {
    .hero-box h1 {
      font-size: 150%;
    }

    .hero-box-text {
      font-size: 75%;
    }
}

@media only screen and (max-width: 680px) {
    .hero-box h1 {
      font-size: 150%;
      /*padding-bottom: 20%;*/
    }

    .hero-box-text {
      padding-top: 10%;
      font-size: 80%;
    } 
    
}

@media only screen and (max-width: 587px) {
  .hero-box h1 {
    padding-bottom: 50%;
  }
  
  nav li {    
    padding: 0 10px;  
  }
}
  

/* Small phones: from 0 to 480px */
/*@media only screen and (max-width: 480px) {
  .form {
    text-align: center;
  }

  .form .span-1-of-3 {
    padding: 10px 0 10px; 
  }*/

@media only screen and (max-width: 420px) {
  .hero-box-text {
    padding-top: 15%;
  }
}

@media only screen and (max-width: 370px) {
   .hero-box-text {
    font-size: 70%;
    padding-top: 30%;    
  }
